.container {
  padding: 3.5rem 2rem 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 15rem);
  row-gap: 1.5rem;
}

.item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.item > picture img {
  height: 100%;
  width: 100%;
  filter: brightness(70%);
  vertical-align: bottom;
}

.itemGroup {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 1;
}

.itemGroup h3 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.itemGroup span {
  color: hsl(0, 0%, 100%);
  opacity: 0.75;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media (hover: hover) {
  .item:hover img {
    filter: brightness(0.4);
  }
}

@media (max-width: 23.375rem) {
  .container {
    padding: 3.5rem 1rem 0 1rem;
  }
  .itemGroup {
    width: calc(100% - 2rem);
    bottom: 1.5rem;
    left: 1rem;
  }
}

@media (min-width: 48rem) {
  .container {
    padding: 0;
  }
  .itemGroup {
    bottom: 2.5rem;
    left: 2.5rem;
  }
}

@media (min-width: 80rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 35rem);
    column-gap: 1.875rem;
    row-gap: 2rem;
  }
}
